html {
    font-family: sans-serif;
    color: whitesmoke;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 35vh;
    margin: 0;
    background-color: #FFC107;
}

.styled-box {
    width: 200px;
    height: 200px;

    
}