/*
Name: Marcus | 100646671
File: style.css
Date: June 20, 2024
HTML document for assignment 3 part 2
*/

html {
    font-family: sans-serif;
}

:root {
    --base-color: #FFC107;
}

div {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.125rem;

    background-color: var(--base-color);
    
    color: #fff;
    text-shadow: 1px 1px 1px black;

    border-radius: 10px;

    border: 1px solid #FF9C05;

    position: relative;
    overflow: hidden;
}

div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2));
    z-index: -1;
    border-radius: 10px;
}

div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    border-radius: 10px;
}